:root{
    --arzColor: #ffb100;
    --navArzColor:#5f1f00;
    }

.image-cover{
    height: 620px;
    width: 1800px;
    
}
.about-text{
    /* font-family: 'Snell Roundhand, cursive'; */
    font-family:'Gill Sans', 'Gill Sans MT';

    font-size: 100px;
    font-weight:400;
    text-decoration-color: #9c3d0d;
    display: flex;
    justify-content: center;
    /* background-color: #ffb100; */

}
.about-two-paragraph-container{
    display: flex;
    width: 1000px;
    justify-content: space-between;
    align-items: flex-start;
    
}
.two-paragraph{
    width: 480px;
    padding: 40px;
    padding-bottom: 60px;
    font-size: 20px;
}
.about-container{
    display: flex;
    justify-content: space-around;
}
.image-about{
    width: 1300px;
    height: 450px;
}
.image-container{
    display: flex;
    justify-content: center;

}
.about-three-paragraph-container{
    display: flex;
    width: 1380px;
    justify-content: space-between;
    align-items: flex-start;
}
.three-paragraph{
    width: 450px;
    padding: 40px;
    padding-top: 80px;
    font-size: 20px;
    height: 720px;
    display: flex-1;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 80px;


}
.label{
    font-weight: bold;
    font-size: larger;
    padding-bottom: 10px;
}
.three-paragraph:last-child>:nth-child(3){
    padding-bottom: 0%;
    height: 280px;
    width: 370px;
    margin-top: 20px;


}
.three-paragraph:nth-child(1)>:nth-child(3){
    padding-bottom: 0%;
    margin-top: 20px;
    height: 280px;
    width: 370px;
}
.cart-main-container{
    display: flex;
    justify-content: center;
    height: 100%;
    margin-left: 80px;
    /* margin-right 4; */
    
    /* background-color: lightgreen; */
    



}
.left-container{
    flex: 60%;
    height: 100%;


}
.right-container{
    flex: 30%;
    height: 100%;
    margin-right: 80px;


}
.cart-labels-container{
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.cart-labels-fields{
    justify-items: center;
    /* background-color: blue; */
    width: 25%;

}
.cart-product-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 190px;
    width: 100%;


    /* background-color: darkorchid; */
}

.cart-product-fields{
    height: auto;
    /* background-color: #ffb100; */
    justify-content: left;
    align-items: left;
 


}
.cart-product-fields:nth-child(1){
    width: 25%;
    height: 100%;

}
.cart-product-fields:nth-child(2){
    width: 23%;


}
.cart-product-fields:nth-child(3){
    width: 27%;


}
.cart-product-fields:nth-child(4){
    width: 25%;


}
.qty-field{
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-between;

    
    /* background-color:aquamarine; */
    

}
.cart-product-image-container{
    /* margin-top: 20px; */
    /* background-color: azure; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;    
    /* border-radius: 40px; */

}
.cart-product-image{
    height: 50%;
    width: 50%;
    border-radius: 10px;
}
.cart-checkout-container{
    border: 1px solid black;
    border-color: black;
    border-radius: 5px;

}
.cart-checkout-small-containers{
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;

}