:root {
    --arzColor: #ffb100;
    --navArzColor: hsl(20, 100%, 19%);
    --page-padding: 1rem;
    --page-padding-bottom: 10rem
}

.image-cover {
    height: 620px;
    width: 1800px;

}

.about-text {
    /* font-family: 'Snell Roundhand, cursive'; */
    font-family: 'Gill Sans', 'Gill Sans MT';

    font-size: 100px;
    font-weight: 400;
    text-decoration-color: #9c3d0d;
    display: flex;
    justify-content: center;
    /* background-color: #ffb100; */

}

.about-two-paragraph-container {
    display: flex;
    width: 1000px;
    justify-content: space-between;
    align-items: flex-start;

}

.two-paragraph {
    width: 480px;
    padding: 40px;
    padding-bottom: 60px;
    font-size: 20px;
}

.about-container {
    display: flex;
    justify-content: space-around;
}
.about-page{
    padding-bottom: var(--page-padding-bottom);
    padding-top: 2rem;
}
.about-header{
    text-shadow: 0 0 4px black;
}

.image-about {
    width: 1300px;
    height: 450px;
}

.image-container {
    display: flex;
    justify-content: center;

}

.about-three-paragraph-container {
    display: flex;
    width: 1380px;
    justify-content: space-between;
    align-items: flex-start;
}

.three-paragraph {
    width: 450px;
    padding: 40px;
    padding-top: 80px;
    font-size: 20px;
    height: 720px;
    display: flex-1;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 80px;


}

.label {
    font-weight: bold;
    font-size: larger;
    padding-bottom: 10px;
}

.three-paragraph:last-child>:nth-child(3) {
    padding-bottom: 0%;
    height: 280px;
    width: 370px;
    margin-top: 20px;


}

.three-paragraph:nth-child(1)>:nth-child(3) {
    margin-top: 20px;
    height: 280px;
    width: 370px;
}

.cart-main-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    padding: 3rem ;
    padding-bottom: var(--page-padding-bottom)
}

.left-container {
    flex: 60%;
    height: 100%;


}
.cart-main-container{
    font-size: 1.5rem;
}

.cart-main-container > :first-child {
    width: 50%;
}
.cart-main-container > :nth-child(2) {
    width: 32%;
    
}

.left-container {
    display: flex;
    justify-content: center;
}
.cart-product-cards > div > *{
    width: 50%;
    display: flex;
    justify-content: center;
}

.cart-labels-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;

}
.cart-product-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(194, 194, 194);
    padding: 1rem;
    border-radius: 1rem;

}
.cart-product-cards > div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 3rem -0.75rem black;
    margin: 0.5rem;
}

.cart-product-fields {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.qty-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 21%;
    background-color: rgb(194, 194, 194);
    padding: 0 0.25rem;
    border-radius: .50rem;
    justify-content: center;
}
.qty-field > *:not(:last-child){
    margin-right: .50rem;
}
.qty-field > :nth-child(2){
    background-color: white;
    padding: .25rem .5rem;
}


.cart-product-cards > div > :last-child {
    padding: 2rem 0;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cart-product-image {
    border-radius: 2rem;
    padding: 1rem;
    width: 12rem;
}

.cart-checkout-container {
    border-color: black;
    border-radius: .75rem;
    width: 90%;
    padding: 1rem;
    background: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1.5rem 3rem -0.75rem black;

}
.cart-checkout-container > :not(:last-child){
    padding: .5rem;
}
.cart-checkout-container > :last-child{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-checkout-container > :last-child > button{
    width: 20rem;

}
.cart-checkout-small-containers {
    display: flex;
    justify-content: space-between;
}
.right-container{
    display: flex;
    justify-content: center;
    border-radius: .75rem;
    height: 100%;
}
.fix-checkout-panel{
    position: fixed;
    right: 8.125rem;
    width: 36.4375rem;
    height: fit-content;
    top: 9rem;
    z-index: 9998;
}